{% extends "base.html" %}

{% block content %}

<header class="masthead">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3 class=" site-heading my-4 mt-3 text-white"> Bem vindo ao meu Blog</h3>
            <p class="text-light"> Projeto de estudos ! &nbsp</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="col-md-8 mt-3 left">
  <a href="{% url 'blog:list_post' %}" class="btn btn-primary">Ver Posts ...</a>
<div>


{% endblock %}