
{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Sobre o projeto</h5>
    <div class="card-body">
        <p class="card-text"> Este projeto foi criado com o objetivo do meu aprendizado e com ele foi usado um framework Web do Python, o Django e todo seu estilo foi usado Bootstrap!!</p>
        <a href="https://github.com/Bortolosso/blog-django"
           class="btn btn-danger">Repositório(GitHub)</a>
    </div>
</div>
</div>

{% endblock sidebar %}