{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    </head>

    <body>
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
                <h2>Contact</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
                <form id="contact-form" class="form" action="#" method="POST" role="form">
                    <div class="form-group">
                        <label class="form-label" for="name">Your Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your name" tabindex="1" required>
                    </div>                            
                    <div class="form-group">
                        <label class="form-label" for="email">Your Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" tabindex="2" required>
                    </div>                            
                    <div class="form-group">
                        <label class="form-label" for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3">
                    </div>                            
                    <div class="form-group">
                        <label class="form-label" for="message">Message</label>
                        <textarea rows="5" cols="50" name="message" class="form-control" id="message" placeholder="Message..." tabindex="4" required></textarea>                                 
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-start-order">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </body>