{% load static %}

{% load i18n %}

{% block content %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta charset="utf-8">
    <title>Sobre Usuário</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/vendor.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">

</head>

{% if user.is_authenticated %}
<body class="ss-bg-white">
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <header class="s-header header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'blog:home' %}">
                        <img src="{% static "images/logo.svg" %}" alt="Homepage">
                    </a>
                </div>
                
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div>

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li><a href="{% url 'blog:home' %}" title="">Home</a></li>
                    <li class="current"><a href="{% url 'blog:added_post' %}" title="">Adicionar Post</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Conta</a>
                        <ul class="sub-menu">
                          <li><a href="{% url 'blog:profile_user' %}">Perfil</a></li>
                          <li><a href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </li>

                    <li class="has-children" >
                        <a href="#0" title="">Sobre</a>
                        <ul class="sub-menu">
                          <li><a href="#">Sobre o Blog</a></li>
                        </ul>
                    </li>
                    <li><a href="#" title="">Contato</a></li>
                </ul>

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="#0">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>
                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>
                     <li class="ss-instagram">
                        <a href="#0">
                            <span class="screen-reader-text">Instagram</span>
                        </a>
                    </li>
                </ul>

            </nav> 

        </header> 
        
        <div class="s-content content">
            <main class="row content__page">
                
                <section class="column large-full entry format-standard">

                    <div class="content__page-header">
                        <h2 class="display-1">Adicione um Post ;)</h2>
                         <hr>

                        {% if new_post.errors %} 
                          {% for field in new_post %}
                            {% for error in field.errors %}

                              <div class="alert alert-danger" role="alert">{{ error|escape }}</div>
                              
                            {% endfor %}
                          {% endfor %}
                        {% endif %}
                        
                    </div> 
                    <form method="post" style="">

                          <div class="form-field">

                            {% csrf_token %}
                            <input name="tittle" id="tittle" class="full-width" placeholder="Titulo(tittle)" value="" type="text">
                            {% csrf_token %}
                            <input name="slug" id="slug" class="full-width" placeholder="Dica(slug)" value="" type="text">
                            {% csrf_token %}
                            <input name="content" id="content" class="full-width" placeholder="Conteudo" value="" type="text">
                            {% csrf_token %}
                            {{ new_post.status }}

                          </div>

                          <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large full-width" value="Comentar" type="submit">

                    </form>
                    <hr>
                </section>

            </main>
        </div>

        <footer class="s-footer footer">

            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Blog 2020</span> 
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>

        </footer>

    </div> 
    
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

</body>

{% else %}

    <div id="top" class="s-wrap site-wrapper">

        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="{% url 'blog:home' %}">
                        <img src="{% static "images/logo.svg" %}" alt="Homepage">
                    </a>
                </div>
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>
            </div> 

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="{% url 'blog:home' %}" title="">Home</a></li>
                    <li><a href="{% url 'blog:login' %}" title="">Entrar</a></li>
                    <li><a href="{% url 'blog:register' %}" title="">Registrar</a></li>
                    <li><a href="#" title="">Contato</a></li>
                </ul> 

                <ul class="header__social">
                    <li class="ss-facebook">
                        <a href="#0">
                            <span class="screen-reader-text">Facebook</span>
                        </a>
                    </li>

                    <li class="ss-twitter">
                        <a href="#0">
                            <span class="screen-reader-text">Twitter</span>
                        </a>
                    </li>

                    <li class="ss-instagram">
                        <a href="#0">
                            <span class="screen-reader-text">Instagram</span>
                        </a>
                    </li>
                </ul>

            </nav>
        </header> 

        <div class="s-content">
            <div class="masonry-wrap">
                <div class="masonry">
                    <div class="grid-sizer"></div>
    
                    <article class="masonry__brick entry format-standard animate-this">
                        <div class="entry__thumb">
                            <a href="{% url 'blog:register' %}" class="entry__thumb-link">
                                <img src="{% static "images/thumbs/masonry/gallery/register-logo.png" %}" srcset="{% static "images/thumbs/masonry/gallery/register-logo.png 1x, images/thumbs/masonry/gallery/register-logo.png 2x" %}" alt="">
                            </a>
                        </div>
                    </article>
    
                    <article class="masonry__brick entry format-quote animate-this">
                        <div class="entry__thumb">
                            <blockquote>
                                <p>Clique na imagem para criar sua conta e divirta-se ;)</p>
    
                                <cite><i>by: João Bortolosso</i></cite>
                            </blockquote>
                        </div>   
                    </article> 

                </div> 
            </div> 
        </div> 

        <footer class="s-footer">

            <div class="row">
                <div class="column large-full footer__content">
                    <div class="footer__copyright">
                        <span>© Copyright Blog 2019</span> 
                        <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
                    </div>
                </div>
            </div>

            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"></a>
            </div>
            
        </footer>

    </div>
   
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

{% endif %}

{% endblock %}